# Auto detect text files and perform LF normalization
* text=auto

# 让 GitHub 语言检测优先识别 C#
*.cs linguist-language=csharp linguist-detectable=true
*.cshtml linguist-language=html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
